POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=mobility
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change_me
AIRFLOW_ADMIN_FIRSTNAME=First
AIRFLOW_ADMIN_LASTNAME=Last
AIRFLOW_ADMIN_EMAIL=admin@example.com